%h1 HOME PAGE

= link_to "log in", users_login_path

%table#users
    %tbody
        - @users.each do |user|
            %tr
                %td= link_to "editing #{user.username}", edit_user_path(user)

= link_to 'Add new user', users_new_path