%h1 HOME PAGE

= link_to "Log In", login_user_path

%table#users
    %tbody
        - @users.each do |user|
            %tr
                %td= link_to "Edit #{user.username}", edit_user_path(user)

= link_to 'Create new account', new_user_path