// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#Map_of_the_counties_of_California_without_legend{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

path:hover, polyline:hover, polygon:hover {
  stroke: #0022868 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #002868 !important;
  cursor: pointer;
}

#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #BF0A30;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}

.active {
  fill: #005073;
}
.semi-active {
  fill: #107dac;
}
.neutral {
  fill: #189ad3;
}
.semi-inactive {
  fill: #1ebbd7;
}
.inactive{
  fill: #71c7ec;
}
